body{
    background: linear-gradient(180deg, rgba(175, 221, 79, 0.4) 0%,
    rgba(255, 255, 255, 0.7) 100%);
    justify-content: center;
    
}

.center {
    display: flex;
    justify-content: center;
}

.font {
    font-family: 'Mulish';
    font-style: normal;
}

.form{
    border-radius: 2px;
    border: 0ch;
    height: 28px;
}
.button{
    margin-top:20px ;
    background: #219653;
    border-radius: 2px;
    border: 0ch;
    color: aliceblue;
    width: 100px;
    height: 20px; ;
}